# ORM: One-to-many relationship
* with SQLAlchemy

In [3]:
%pip install --upgrade sqlalchemy
# %pip install --upgrade pip

Requirement already satisfied: sqlalchemy in c:\python312\lib\site-packages (2.0.25)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\python312\lib\site-packages (from sqlalchemy) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\python312\lib\site-packages (from sqlalchemy) (3.0.3)
Note: you may need to restart the kernel to use updated packages.

In [1]:
from sqlalchemy.orm import DeclarativeBase, Mapped, mapped_column, relationship
from sqlalchemy import ForeignKey

"""

table programs
    - id int pk
    - name str
    - years_of_study int
    

table courses
    - id int pk
    - title str
    - code str
    - program_id => fk => programs.id
    




table students
    - id int pk
    - name str
    - age int
    - program_id => fk => programs.id


"""

'\n\ntable programs\n    - id int pk\n    - name str\n    - years_of_study int\n    \n\ntable courses\n    - id int pk\n    - title str\n    - code str\n    - program_id => fk => programs.id\n    \n\n\n\n\ntable students\n    - id int pk\n    - name str\n    - age int\n    - program_id => fk => programs.id\n\n\n'

In [2]:
class Base(DeclarativeBase):
    pass

In [3]:

class Program(Base):
    __tablename__ = 'programs'
    id:Mapped[int] = mapped_column(primary_key=True)
    name:Mapped[str] = mapped_column(nullable=False)
    years_of_study:Mapped[int] = mapped_column(nullable=False)
    courses:Mapped[list['Course']] = relationship(backref='program',passive_deletes=True)
    students:Mapped[list['Student']] = relationship(backref='program',passive_deletes=True)

    def __repr__(self) -> str:
        return f"<Program {self.name}>"

In [4]:
class Student(Base):
    __tablename__ = 'students'
    id:Mapped[int] = mapped_column(primary_key=True)
    name:Mapped[str] = mapped_column(nullable=False)
    age:Mapped[int] = mapped_column(nullable=False)
    program_id:Mapped[int] = mapped_column(ForeignKey('programs.id',ondelete='CASCADE'))
    

    def __repr__(self) -> str:
        return f"<Student {self.name}>"

In [5]:
class Course(Base):
    __tablename__ = 'courses'
    id:Mapped[int] = mapped_column(primary_key=True)
    title:Mapped[str] = mapped_column(nullable=False, unique=True)
    code:Mapped[str] = mapped_column(nullable=False)
    program_id:Mapped[int] = mapped_column(ForeignKey('programs.id',ondelete='CASCADE'))
    
    
    def __repr__(self) -> str:
        return f"<Course {self.title}>"

In [6]:
from sqlalchemy import create_engine, text
from sqlalchemy.orm import sessionmaker
from sqlalchemy.engine.base import Engine
from sqlalchemy.orm.session import Session
import os
from dotenv import load_dotenv

load_dotenv()
NEON_DB_CONN_STR = os.getenv("NEON_DB_CONN_STR")

try:
    engine: Engine = create_engine(NEON_DB_CONN_STR, echo= True)
    Session = sessionmaker(bind=engine)
    db: Session = Session()
    Base.metadata.create_all(bind=engine)


    engine.connect()
    print("Connection Established")

except Exception as e:
        print(f"Error connecting to the database: {e}")

2024-02-02 00:27:21,973 INFO sqlalchemy.engine.Engine select pg_catalog.version()
2024-02-02 00:27:21,975 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-02-02 00:27:22,527 INFO sqlalchemy.engine.Engine select current_schema()
2024-02-02 00:27:22,528 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-02-02 00:27:23,160 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2024-02-02 00:27:23,161 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-02-02 00:27:23,796 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-02-02 00:27:23,893 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2024-02-02 00:27:23,894 INFO sqlalchemy.engine.Engine [generated in 0.00137s] {'table_name': 'programs', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2024-02-02 00:27:24,669 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2024-02-02 00:27:24,671 INFO sqlalchemy.engine.Engine [cached since 0.7779s ago] {'table_name': 'students', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2024-02-02 00:27:25,044 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2024-02-02 00:27:25,044 INFO sqlalchemy.engine.Engine [cached since 1.151s ago] {'table_name': 'courses', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2024-02-02 00:27:25,317 INFO sqlalchemy.engine.Engine COMMIT
Connection Established

In [8]:
program1 = Program(
    name = "Bachelors in CS",
    years_of_study =3
)

program2 = Program(
    name = "Bachelors in Business",
    years_of_study =3
)

# saving programs
db.add_all(
    [program1,program2]
)

db.commit()

2024-01-28 18:50:25,428 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-01-28 18:50:25,434 INFO sqlalchemy.engine.Engine INSERT INTO programs (name, years_of_study) SELECT p0::VARCHAR, p1::INTEGER FROM (VALUES (%(name__0)s, %(years_of_study__0)s, 0), (%(name__1)s, %(years_of_study__1)s, 1)) AS imp_sen(p0, p1, sen_counter) ORDER BY sen_counter RETURNING programs.id, programs.id AS id__1
2024-01-28 18:50:25,435 INFO sqlalchemy.engine.Engine [generated in 0.00012s (insertmanyvalues) 1/1 (ordered)] {'years_of_study__0': 3, 'name__0': 'Bachelors in CS', 'years_of_study__1': 3, 'name__1': 'Bachelors in Business'}
2024-01-28 18:50:26,746 INFO sqlalchemy.engine.Engine COMMIT

In [9]:
program3 = Program(
    name = "Web3.0 Metaverse",
    years_of_study =1
)

program4 = Program(
    name = "Gnerative AI",
    years_of_study =1
)

# saving programs
db.add_all(
    [program3,program4]
)

db.commit()

2024-01-28 18:50:30,540 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-01-28 18:50:30,542 INFO sqlalchemy.engine.Engine INSERT INTO programs (name, years_of_study) SELECT p0::VARCHAR, p1::INTEGER FROM (VALUES (%(name__0)s, %(years_of_study__0)s, 0), (%(name__1)s, %(years_of_study__1)s, 1)) AS imp_sen(p0, p1, sen_counter) ORDER BY sen_counter RETURNING programs.id, programs.id AS id__1
2024-01-28 18:50:30,543 INFO sqlalchemy.engine.Engine [cached since 5.109s ago (insertmanyvalues) 1/1 (ordered)] {'years_of_study__0': 1, 'name__0': 'Web3.0 Metaverse', 'years_of_study__1': 1, 'name__1': 'Gnerative AI'}
2024-01-28 18:50:31,103 INFO sqlalchemy.engine.Engine COMMIT

In [10]:
#create course objects
course1 = Course(
    title ="Database Management Systems",
    code = "CS 102"
)


course2 = Course(
    title ="Data SCIENCE",
    code = "CS 103"
)


course3 = Course(
    title ="Data STRUCTURES AND ALGRITHMS",
    code = "CS 110"
)

course4 = Course(
    title ="Businnes communication",
    code = "BS 123"
)


# adding child object to parent
program1.courses.append(course1)
program1.courses.append(course2)
program1.courses.append(course3)

program2.courses.append(course4)

db.commit()

2024-01-28 18:50:33,589 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-01-28 18:50:33,593 INFO sqlalchemy.engine.Engine SELECT programs.id AS programs_id, programs.name AS programs_name, programs.years_of_study AS programs_years_of_study
FROM programs
WHERE programs.id = %(pk_1)s
2024-01-28 18:50:33,594 INFO sqlalchemy.engine.Engine [generated in 0.00127s] {'pk_1': 23}
2024-01-28 18:50:34,153 INFO sqlalchemy.engine.Engine SELECT courses.id AS courses_id, courses.title AS courses_title, courses.code AS courses_code, courses.program_id AS courses_program_id
FROM courses
WHERE %(param_1)s = courses.program_id
2024-01-28 18:50:34,154 INFO sqlalchemy.engine.Engine [generated in 0.00054s] {'param_1': 23}
2024-01-28 18:50:34,553 INFO sqlalchemy.engine.Engine INSERT INTO courses (title, code, program_id) SELECT p0::VARCHAR, p1::VARCHAR, p2::INTEGER FROM (VALUES (%(title__0)s, %(code__0)s, %(program_id__0)s, 0), (%(title__1)s, %(code__1)s, %(program_id__1)s, 1), (%(title__2)s, %(code__2)s, %(program_id__2)s, 2)) AS imp_sen(p0, p1, p2, sen_counter) ORDER BY sen_counter RETURNING courses.id, courses.id AS id__1
2024-01-28 18:50:34,554 INFO sqlalchemy.engine.Engine [generated in 0.00006s (insertmanyvalues) 1/1 (ordered)] {'program_id__0': 23, 'title__0': 'Database Management Systems', 'code__0': 'CS 102', 'program_id__1': 23, 'title__1': 'Data SCIENCE', 'code__1': 'CS 103', 'program_id__2': 23, 'title__2': 'Data STRUCTURES AND ALGRITHMS', 'code__2': 'CS 110'}
2024-01-28 18:50:34,997 INFO sqlalchemy.engine.Engine SELECT programs.id AS programs_id, programs.name AS programs_name, programs.years_of_study AS programs_years_of_study
FROM programs
WHERE programs.id = %(pk_1)s
2024-01-28 18:50:34,998 INFO sqlalchemy.engine.Engine [cached since 1.405s ago] {'pk_1': 24}
2024-01-28 18:50:35,278 INFO sqlalchemy.engine.Engine SELECT courses.id AS courses_id, courses.title AS courses_title, courses.code AS courses_code, courses.program_id AS courses_program_id
FROM courses
WHERE %(param_1)s = courses.program_id
2024-01-28 18:50:35,280 INFO sqlalchemy.engine.Engine [cached since 1.127s ago] {'param_1': 24}
2024-01-28 18:50:36,124 INFO sqlalchemy.engine.Engine INSERT INTO courses (title, code, program_id) VALUES (%(title)s, %(code)s, %(program_id)s) RETURNING courses.id
2024-01-28 18:50:36,125 INFO sqlalchemy.engine.Engine [generated in 0.00076s] {'title': 'Businnes communication', 'code': 'BS 123', 'program_id': 24}
2024-01-28 18:50:36,406 INFO sqlalchemy.engine.Engine COMMIT

In [11]:
#create course objects
course5 = Course(
    title ="Blockchain",
    code = "BC 110"
)


course6 = Course(
    title ="Internet of Things",
    code = "IT 120"
)


course7 = Course(
    title ="Metaverse",
    code = "MT 130"
)

course8 = Course(
    title ="OpenAI API",
    code = "AI 140"
)


# adding child object to parent
program3.courses.append(course5)
program3.courses.append(course6)

program4.courses.append(course7)
program4.courses.append(course8)

db.commit()

2024-01-28 18:50:43,434 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-01-28 18:50:43,436 INFO sqlalchemy.engine.Engine SELECT programs.id AS programs_id, programs.name AS programs_name, programs.years_of_study AS programs_years_of_study
FROM programs
WHERE programs.id = %(pk_1)s
2024-01-28 18:50:43,438 INFO sqlalchemy.engine.Engine [cached since 9.845s ago] {'pk_1': 25}
2024-01-28 18:50:43,996 INFO sqlalchemy.engine.Engine SELECT courses.id AS courses_id, courses.title AS courses_title, courses.code AS courses_code, courses.program_id AS courses_program_id
FROM courses
WHERE %(param_1)s = courses.program_id
2024-01-28 18:50:43,997 INFO sqlalchemy.engine.Engine [cached since 9.843s ago] {'param_1': 25}
2024-01-28 18:50:44,313 INFO sqlalchemy.engine.Engine INSERT INTO courses (title, code, program_id) SELECT p0::VARCHAR, p1::VARCHAR, p2::INTEGER FROM (VALUES (%(title__0)s, %(code__0)s, %(program_id__0)s, 0), (%(title__1)s, %(code__1)s, %(program_id__1)s, 1)) AS imp_sen(p0, p1, p2, sen_counter) ORDER BY sen_counter RETURNING courses.id, courses.id AS id__1
2024-01-28 18:50:44,313 INFO sqlalchemy.engine.Engine [cached since 9.76s ago (insertmanyvalues) 1/1 (ordered)] {'program_id__0': 25, 'title__0': 'Blockchain', 'code__0': 'BC 110', 'program_id__1': 25, 'title__1': 'Internet of Things', 'code__1': 'IT 120'}
2024-01-28 18:50:44,593 INFO sqlalchemy.engine.Engine SELECT programs.id AS programs_id, programs.name AS programs_name, programs.years_of_study AS programs_years_of_study
FROM programs
WHERE programs.id = %(pk_1)s
2024-01-28 18:50:44,594 INFO sqlalchemy.engine.Engine [cached since 11s ago] {'pk_1': 26}
2024-01-28 18:50:44,872 INFO sqlalchemy.engine.Engine SELECT courses.id AS courses_id, courses.title AS courses_title, courses.code AS courses_code, courses.program_id AS courses_program_id
FROM courses
WHERE %(param_1)s = courses.program_id
2024-01-28 18:50:44,873 INFO sqlalchemy.engine.Engine [cached since 10.72s ago] {'param_1': 26}
2024-01-28 18:50:45,153 INFO sqlalchemy.engine.Engine INSERT INTO courses (title, code, program_id) SELECT p0::VARCHAR, p1::VARCHAR, p2::INTEGER FROM (VALUES (%(title__0)s, %(code__0)s, %(program_id__0)s, 0), (%(title__1)s, %(code__1)s, %(program_id__1)s, 1)) AS imp_sen(p0, p1, p2, sen_counter) ORDER BY sen_counter RETURNING courses.id, courses.id AS id__1
2024-01-28 18:50:45,154 INFO sqlalchemy.engine.Engine [cached since 10.6s ago (insertmanyvalues) 1/1 (ordered)] {'program_id__0': 26, 'title__0': 'Metaverse', 'code__0': 'MT 130', 'program_id__1': 26, 'title__1': 'OpenAI API', 'code__1': 'AI 140'}
2024-01-28 18:50:45,433 INFO sqlalchemy.engine.Engine COMMIT

In [12]:
#create course objects
student1 = Student(
    id = 1,
    name ="Yasir",
    age = 25
)

student2 = Student(
    id = 2,
    name ="Nasir",
    age = 28
)

student3 = Student(
    id = 3,
    name ="Tahir",
    age = 19
)

student4 = Student(
    id = 4,
    name ="Jafar",
    age = 18
)



# adding child object to parent
program1.students.append(student1)
program1.students.append(student2)

program3.students.append(student3) 
program4.students.append(student4)

db.commit()

2024-01-28 18:50:49,373 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-01-28 18:50:49,375 INFO sqlalchemy.engine.Engine SELECT programs.id AS programs_id, programs.name AS programs_name, programs.years_of_study AS programs_years_of_study
FROM programs
WHERE programs.id = %(pk_1)s
2024-01-28 18:50:49,377 INFO sqlalchemy.engine.Engine [cached since 15.78s ago] {'pk_1': 23}
2024-01-28 18:50:49,936 INFO sqlalchemy.engine.Engine SELECT students.id AS students_id, students.name AS students_name, students.age AS students_age, students.program_id AS students_program_id
FROM students
WHERE %(param_1)s = students.program_id
2024-01-28 18:50:49,936 INFO sqlalchemy.engine.Engine [generated in 0.00065s] {'param_1': 23}
2024-01-28 18:50:50,219 INFO sqlalchemy.engine.Engine INSERT INTO students (id, name, age, program_id) VALUES (%(id__0)s, %(name__0)s, %(age__0)s, %(program_id__0)s), (%(id__1)s, %(name__1)s, %(age__1)s, %(program_id__1)s)
2024-01-28 18:50:50,220 INFO sqlalchemy.engine.Engine [generated in 0.00004s (insertmanyvalues) 1/1 (unordered)] {'id__0': 1, 'name__0': 'Yasir', 'program_id__0': 23, 'age__0': 25, 'id__1': 2, 'name__1': 'Nasir', 'program_id__1': 23, 'age__1': 28}
2024-01-28 18:50:52,522 INFO sqlalchemy.engine.Engine SELECT programs.id AS programs_id, programs.name AS programs_name, programs.years_of_study AS programs_years_of_study
FROM programs
WHERE programs.id = %(pk_1)s
2024-01-28 18:50:52,523 INFO sqlalchemy.engine.Engine [cached since 18.93s ago] {'pk_1': 25}
2024-01-28 18:50:53,007 INFO sqlalchemy.engine.Engine SELECT students.id AS students_id, students.name AS students_name, students.age AS students_age, students.program_id AS students_program_id
FROM students
WHERE %(param_1)s = students.program_id
2024-01-28 18:50:53,008 INFO sqlalchemy.engine.Engine [cached since 3.072s ago] {'param_1': 25}
2024-01-28 18:50:53,477 INFO sqlalchemy.engine.Engine INSERT INTO students (id, name, age, program_id) VALUES (%(id)s, %(name)s, %(age)s, %(program_id)s)
2024-01-28 18:50:53,478 INFO sqlalchemy.engine.Engine [generated in 0.00126s] {'id': 3, 'name': 'Tahir', 'age': 19, 'program_id': 25}
2024-01-28 18:50:53,775 INFO sqlalchemy.engine.Engine SELECT programs.id AS programs_id, programs.name AS programs_name, programs.years_of_study AS programs_years_of_study
FROM programs
WHERE programs.id = %(pk_1)s
2024-01-28 18:50:53,776 INFO sqlalchemy.engine.Engine [cached since 20.18s ago] {'pk_1': 26}
2024-01-28 18:50:54,080 INFO sqlalchemy.engine.Engine SELECT students.id AS students_id, students.name AS students_name, students.age AS students_age, students.program_id AS students_program_id
FROM students
WHERE %(param_1)s = students.program_id
2024-01-28 18:50:54,082 INFO sqlalchemy.engine.Engine [cached since 4.147s ago] {'param_1': 26}
2024-01-28 18:50:54,366 INFO sqlalchemy.engine.Engine INSERT INTO students (id, name, age, program_id) VALUES (%(id)s, %(name)s, %(age)s, %(program_id)s)
2024-01-28 18:50:54,368 INFO sqlalchemy.engine.Engine [cached since 0.8917s ago] {'id': 4, 'name': 'Jafar', 'age': 18, 'program_id': 26}
2024-01-28 18:50:54,649 INFO sqlalchemy.engine.Engine COMMIT

In [36]:
myprogram1: Program = db.query(Program).filter_by(name ='Gnerative AI').first()
print(myprogram1.name)

mycourse: Course = db.query(Course).filter_by(title='Metaverse').first()
print(mycourse.title)

2024-01-28 19:16:01,990 INFO sqlalchemy.engine.Engine SELECT programs.id AS programs_id, programs.name AS programs_name, programs.years_of_study AS programs_years_of_study
FROM programs
WHERE programs.name = %(name_1)s
 LIMIT %(param_1)s
2024-01-28 19:16:01,991 INFO sqlalchemy.engine.Engine [cached since 117.6s ago] {'name_1': 'Gnerative AI', 'param_1': 1}

Gnerative AI
2024-01-28 19:16:02,261 INFO sqlalchemy.engine.Engine SELECT courses.id AS courses_id, courses.title AS courses_title, courses.code AS courses_code, courses.program_id AS courses_program_id
FROM courses
WHERE courses.title = %(title_1)s
 LIMIT %(param_1)s
2024-01-28 19:16:02,263 INFO sqlalchemy.engine.Engine [generated in 0.00137s] {'title_1': 'Metaverse', 'param_1': 1}
Metaverse

In [37]:
db.delete(myprogram1)

db.commit()

2024-01-28 19:16:23,580 INFO sqlalchemy.engine.Engine DELETE FROM programs WHERE programs.id = %(id)s
2024-01-28 19:16:23,581 INFO sqlalchemy.engine.Engine [generated in 0.00115s] {'id': 26}
2024-01-28 19:16:23,945 INFO sqlalchemy.engine.Engine COMMIT

In [ ]:
from sqlalchemy import select

user_name_input = input("Enter the user's name: ")

stmt = db.query(Student).filter_by(name = user_name_input ).first()

print(stmt.name)